<app-barra-navegacion nombreMenu="Culturas gastronómicas" opcion1="Culturas"></app-barra-navegacion>
<div class="container">
  <div class="row row-cols-2 g-4">
    <div class="col" *ngFor="let cultura of culturas">
      <div class="card text-center" style="position: relative;">
        <a class="link-custom" [routerLink]="['/cultura', cultura.id] ">
          <img src="{{ cultura.imagen }}" alt="{{ cultura.nombre }}" class="card-img">
          <div class="card-img-overlay" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <p class="fw-bold fs-1 text-cream">{{ cultura.nombre }}</p>
            <!-- Agrega aquí cualquier otra información que desees mostrar -->
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


